ACCOUNTS_XML_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="accounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="account" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="accountNumber" type="xs:integer" />
							<xs:element name="accountName" type="xs:string" />
							<xs:element name="accountType" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:integer" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
